.lbl {
	display: block;
	width: 260px;
	margin: 25px auto 0;
	text-align: center;
}

.lbl span {
	font-size: 12px;
	color: #909090;
}

.lbl input {
	border: none;
	outline: none;
	background: none;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;

	display: block;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	text-align: center;
}
